<!DOCTYPE html>
<html>

<head>
    <title>Audio Player</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bulma.min.css') }}">
</head>

<body>
<nav class="navbar" role="navigation" aria-label="dropdown navigation">
    <a class="navbar-item">
        <p class="title has-text-primary" >Youtube Helper</p>
    </a>

    <a class="navbar-item" href="/">
        Index
    </a>
    <a class="navbar-item" href="/player">
        Play List
    </a>
</nav>
<section class="content">
    {% block content %}
    {% endblock %}
</section>
</body>
</html>